<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BALANCE ENQUIRY</h1>
    <form action="/balance" method="post">
        <label>Account_no</label>
        <input type="text" name="account_no" required><br><br>
        <label>password</label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value=" show the balance"><br><br>
     </form>
<a href="/">HOME PAGE</a>
</body>
</html>
    