<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        body{background-image:url("{{url_for('static',filename='sbi_image_3.png')}}");
        background-size:cover;}
    </style>
</head>
<body>
   
    <h1> HOME PAGE </h1><br>
    <a href="signin"><H3>1.SIGN IN</H3></a><br>
    <a href="login"><H3>2.LOG IN</H3></a><br>
    <a href="balance"><H3>3.BALANCE ENQUIRY</H3></a><br>
    <a href="deposite"><H3>4.DEPOSIT</H3></a><br>
    <a href="withdrawal"><H3>5.WITHDRAWAL</H3></a><br>
    <a href="ministatement"><H3>6.MINISTATMENT</H3></a><br>
    <a href="logout"><H3>7.LOGOUT</H3></a><br>
    
</body>
</html>

