<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MINI STATEMENT</h1>

    <form action="/ministatement" method="POST">
        <label for="account_no">Account_no:</label>
        <input type="text" id="account_no" name="account_no" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">mini-statement</button><br><br>
        <button class="button"><a href="/">MENU</a></button>

    </form> 
</body>
</html>