<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/signin' method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="Account_no">Account_no</label>
        <input type="text" id="Account_no" name="account_no" required><br><br>
        <label for="phone">Phone No</label>
        <input type="number" id="phone" name="phone_no" required><br><br>
        <label for="mail">G-mail ID</label>
        <input type="text" id="mail" name="g_mail" required><br><br>
        <label for="enter">MIN_BALANCE</label>
        <input type="number" id="enter" name="min_balance" required><br><br>
        <label  for="pw">Password</label>
        <input type="password" id="pw" name="password" required><br><br>
        <input type="submit" value="login successful"><br><br>
        <button class="button"><a href="/">HOME PAGE</a></button>
    </form>
    
</body>
</html>
